<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>
    <h2>EvenTec La mejor experiencia en eventos</h2>
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Alta de Usuarios</h1>
			<span>Ingrese la información del asistente</span>
			<input type="Nombre" placeholder="Nombre" />
			<input type="Correo" placeholder="Correo" />
			<a href="index2.html" role="button" >Dar de alta</a>
            <a href="dashboard.html" role="button" >Dashboard</a>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
		</div>
	</div>
</div>
</body>
</html>